* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.App {
  width: 800px;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.page__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  border: 2px solid orange;
  font-weight: bold;
}
.navbar{
  
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding:0 15px;
  background-color: lightgrey;
  flex-direction: row-reverse;
}
.navbar_links{
  margin-left: auto;
}

.post_btns{
  display: flex;
  margin-left: auto;
}